/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  // height: auto;
}
