@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "general";
@import "blocks/blocks";
// .rec.rec-slider-container {
//   overflow-x: hidden;
// }
// .rec-carousel-item:focus {
//   outline: none;
//   box-shadow: inset 0 0 1px 1px lightgrey;
// }
/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
}

/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
}

/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
