.card__box {
  // position: relative;
  width: calc(33.3% - 15px);
  background-color: #fefefe;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)
}

.box-card{
  position: relative;
  width: calc(50% - 15px);
  margin-top: 15px;
  margin-bottom: 15px;
}

.card__img {
  width: 100%;
  object-fit: cover;
}

.card__head{
  width: 100%;
  height: 305px;
}

.card__body {
  padding: 15px;
}

.body-card__date {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #229ED9;

  &::before{
    margin-right: 10px;
    background-image: url(../../icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    content: '';
  }
}

.body-card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.body-card__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-size: 15px;
}

.body-card__link {
  display: inline-block;
  background-color: #229ED9;
  padding: 10px 20px;
  font-size: 15px;
  color: #fefefe;
  text-decoration: none;
  transition: opacity .4s ease;

  &:hover{
    opacity: 0.8;
  }
}