.careers{
  padding: 80px 0;
}

.careers__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: -15px;
  list-style-type: none;
}

.careers__item {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  width: calc(50% - 15px);
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.item-careers__content {
  width: 590px;
}