.card-open {
  margin: 80px 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-wrapper__img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.card-wrapper__holder{
  width: 100%;
  height: 360px;
}

.card-wrapper__body {
  padding: 60px;
}

.card-detail__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.card-body__list {
  @include list-unstyled;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card-body__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.card-body__item-img {
  margin-right: 12px;
}

.card-detail__wrapper {
  display: flex;
  align-items: flex-start;
}

.card-detail__comment {
  margin-right: 55px;
  display: flex;
}

.card-detail__comment-holder {
  padding: 30px;
  width: 325px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-detail__comment-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  font-style: italic;
  color: #424242;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-detail__info {
  padding: 20px 35px 20px 0;
  width: 100%;
}

.card-detail__info-img {
  width: 100%;
  height: 295px;
  object-fit: cover;
  margin-bottom: 30px;
}

.card-detail__socials {
  @include list-unstyled;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-detail__socials-item {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.card-detail__socials-img{
  width: 25px;
  height: 30px;
  object-fit: contain;
}

.card-detail__socials-link {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3B5998;
  padding: 8px 6px;
  transition: opacity .4s ease;

  &:hover{
    opacity: 0.9;
  }
}

.card-detail__info-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #424242;
}

.twitter {
  background-color: #229ED9;
}

.card-detail__socials-img {
  width: 30px;
  height: 25px;
  object-fit: contain;
}