.company {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

.company__img{
  width: 600px;
  height: 552px;
  object-fit: cover;
}

.company__info-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.info-list {
  @include list-unstyled;
}
.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:last-child{
    margin-bottom: 0;
  }

  &::before{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-image: url(../../icons/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}

.info__text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #424242;
  font-size: 15px;
  line-height: 27px;
}