.career {
  background-color: #fafafa;
  padding: 80px 0;
}

.career__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.career-info {
  width: calc(50% - 15px);
}

.career-info__heading {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.career-info__text {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 27px;
  color: #424242;
}

.career-wrapper__form {
  width: calc(50% - 15px);
  padding: 40px;
  background-color: #fefefe;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-holder__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.form-holder__item {
  margin-bottom: 30px;
  width: 100%;
}

.form-holder__item-input {
  padding: 12px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.3;
  border: 1px solid #212121;
  box-sizing: border-box;

  &:focus {
    opacity: 1;
    outline: #229ed9;
    border: 1px solid #229ed9;
  }

  &::placeholder {
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    color: #424242;
  }
}

.form-holder__item-label {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  color: rgba(66, 66, 66, 0.3);
  cursor: pointer;
}

.form-holder__btn-button {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #229ed9;
  border: none;
  cursor: pointer;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
}

.video {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #212121;

  height: 100%;
  height: 300px;
}

.video-text {
  color: #212121;
}

input[type="file"] {
  display: none;
}

.form-holder__item-text {
  min-width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  background-color: #fafafa;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #424242;
  border: 1px dashed #424242;
}
