.footer {
  padding: 60px 0 30px;
  background-color: #3B5998;
}

.footer__details {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer__box {
  width: 33.3%;
}

.footer__detail-heading{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-heading__title{
  width: 33.3%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer__box,
.box-footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

.box-footer__list {
  @include list-unstyled;
}

.box-footer__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-icon {
  display: flex;
  align-items: center;

  &::before {
    width: 14px;
    height: 14px;
    margin-right: 15px;
    background-image: url(../../icons/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
  }

  &:nth-child(2)::before{
    background-image: url(../../icons/gmail-white.svg);
  }

  &:nth-child(3)::before{
    background-image: url(../../icons/phone-white.svg);
  }
}

.box-footer__info, .box-footer__link {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover{
    opacity: 1;
  }
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials-footer {
  @include list-unstyled;
  margin-bottom: 30px;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.socials-footer__link {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.socials-footer__logo{
  margin-right: 15px;
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.footer__copyright{
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  opacity: 0.8;
}