.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  width: 146px;
  height: 52px;
  object-fit: contain;
}

.header__link{
  width: 146px;
  height: 52px;
  display: inline-block;
}

.nav__list {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  font-size: 16px;
  line-height: 21px;
  color: #212121;
  text-decoration: none;
  transition: color .4s ease;

  &:hover {
    color: #229ED9;
  }
}

.active{
  color: #229ED9;
}

.item-holder{
  position: relative;
  padding: 4px;
  margin: auto;
}

.link-call {
  padding: 10px 20px;
  background-color: #EC4646;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  border-radius: 20px;
  animation: btn-red 2s linear infinite;

  &:hover{
    color: #fff;
  }
}

@keyframes btn-red{
  0%{
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 0px;
  }

  40%{
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 5px;
  }

  60%{
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 5px;
  }

  100%{
    box-shadow: rgba(240, 72, 72, 0.5) 0px 0px 0px 0px;
  }
}