.news {
  padding: 80px 0;
  background-color: #fafafa;
}

.news__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.news__detail-title {
  width: 892px;
  text-align: center;
}

.news__detail-text {
  width: 630px;
  color: #424242;
  font-size: 15px;
  text-align: center;
}

.news__cards {
  display: flex;
  justify-content: space-between;
}

.card__box {
  width: calc(33.3% - 30px);
  background-color: #fefefe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card__boxx {
  background-color: #fefefe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card__img {
  width: 100%;
  height: 305px;
  object-fit: cover;
}
.card__body {
  padding: 20px 35px;
}

.body-card__date {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #229ed9;

  &::before {
    margin-right: 10px;
    background-image: url(../../icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    content: "";
  }
}

.body-card__title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}

.body-card__text {
  width: 100%;
  margin-bottom: 20px;
  font-size: 15px;
}

.body-card__link {
  display: inline-block;
  background-color: #229ed9;
  padding: 10px 20px;
  font-size: 15px;
  color: #fefefe;
  text-decoration: none;
}
