.service-card {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-card__box {
  // width: calc(25% - 20px);
  text-align: center;
  transition: all ease 0.4s;

  &:hover {
    background-color: #fefefe;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

.service-card__img {
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-body__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.card-body__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 260px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #424242;
}

.card-body__link {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  color: #fefefe;
  background-color: #229ed9;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
}
.card-body__links {
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  color: #fefefe;
  background-color: #229ed9;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
}
// button.rec-dot {
//   background-color: white;
//   box-shadow: 0 0 1px 3px #229ed9;
// }

// button.rec-dot:hover,
// button.rec-dot:active,
// button.rec-dot:focus {
//   background-color: #229ed9;
//   box-shadow: 0 0 1px 3px #229ed9;
// }
// .rec-dot {
//   background-color: #229ed9;
//   box-shadow: 0 0 1px 3px #229ed9;
// }

// .rec-dot:hover,
// .rec-dot:active,
// .rec-dot:focus {
//   background-color: #229ed9;
//   box-shadow: 0 0 1px 3px #229ed9;
// }
// /* square buttons */
// .rec.rec-arrow {
//   border-radius: 50%;
//   background-color: white;
// }
// /* round buttons on hover */
// .rec.rec-arrow:hover {
//   border-radius: 50%;
//   background-color: #229ed9;
//   color: #229ed9;
// }
// /* hide disabled buttons */
// .rec.rec-arrow:disabled {
//   visibility: hidden;
//   background-color: #229ed9;
// }
// /* disable default outline on focused items */
// /* add custom outline on focused items */
// .rec-carousel-item:focus {
//   outline: none;
//   box-shadow: inset 0 0 1px 1px lightgrey;
//   background-color: #229ed9;
// }
// .carouselControl:hover {
//   color: black;
//   background-color: #229ed9;
// }
