.site-intro{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials{
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.intro-site{
  padding: 10px 30px;
  background-color: #3B5998;
}

.socials__item{
  display: inline-block;
  width: 18px;
  height: 18px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon{
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.socials__link {
  display: inline-block;
  text-decoration: none;
}

.site-intro__links {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.links__item{
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.links__link {
  font-size: 11px;
  line-height: 13px;
  color: #212121;
  text-decoration: none;
}

.links__icon{
  width: 14px;
  height: 14px;
  object-fit: contain;
  margin-right: 12px;
}

.link{
  color: #fff;
}

.link-white{
  color: #fff;
}