.slider {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.career-slider{
  margin-top: 30px;
}

.slider__item {
  width: 180px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.slider__item-box {
  padding: 20px;
  background-color: #FAFAFA;
}

.slider__item-icon {
  display: inline-block;
  margin-bottom: 8px;
}

.slider__item-text {
  overflow: hidden;
  font-size: 15px;
  line-height: 21px;
  color: #424242;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 130px;
}

.career-slider__item{
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}